package router

import (
	"{{.ModuleName}}/api/handler"
	"{{.ModuleName}}/api/middleware"
	"github.com/AMETORY/ametory-erp-modules/app"
	"github.com/gin-gonic/gin"
)

func SetupTagRoutes(r *gin.RouterGroup, appContainer *app.AppContainer) {
	hdl := handler.New{{.ApiName}}Handler(appContainer)

	{{.CamelApiName}}Group := r.Group("/{{.SnakeApiName}}")
	{{.CamelApiName}}Group.Use(middleware.AuthMiddleware(appContainer, true))
	{
		{{.CamelApiName}}Group.GET("/list", hdl.List{{.ApiName}}Handler)
		{{.CamelApiName}}Group.GET("/:id",  hdl.Get{{.ApiName}}Handler)
		{{.CamelApiName}}Group.POST("/create",  hdl.Create{{.ApiName}}Handler)
		{{.CamelApiName}}Group.PUT("/:id",  hdl.Update{{.ApiName}}Handler)
		{{.CamelApiName}}Group.DELETE("/:id",  hdl.Delete{{.ApiName}}Handler)
	}
}
